*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: var(--background_Body);
    --background_Body: hsl(222, 26%, 31%);
    --circle_color:hsl(223, 31%, 20%);
    --pantalla:hsl(223, 31%, 20%);
    --letra_pantalla:aliceblue;
    --hover_del:hsla(197, 100%, 47%, 0.774);
    --hover_del_bor:3px solid hsl(207, 100%, 22%);
    --background_reset:hsla(197, 100%, 47%, 0.774);
    --borde_reset:3px solid hsl(207, 100%, 22%);
    --background_btn:hsl(223, 31%, 20%);
    --background_total: hsl(6, 63%, 50%);
    --borde_total:3px solid hsl(6, 70%, 34%);
    --background_btn_item: hsl(30, 25%, 89%);
    --color_btn_item:hsl(224, 28%, 35%);
    --borde_btn_item:3px solid hsl(224, 28%, 35%);
    --back_item_hover: hsl(222, 26%, 31%) ;
    --color_item_hover:aliceblue ;
    --color_tex_top: black;
    overflow-x:hidden ;

}
.tema2{
    --background_Body: hsl(0, 0%, 90%);
    --circle_color:hsl(0, 5%, 81%);
    --pantalla:white;
    --letra_pantalla:rgb(0, 0, 0) ;
    --background_btn: hsl(0, 5%, 81%);
    --background_btn_item: hsl(45, 7%, 89%) ;
    --color_btn_item:rgb(0, 0, 0);
    --borde_btn_item:3px solid hsl(185, 58%, 25%);
    --back_item_hover: hsl(0, 0%, 70%) ;
    --color_item_hover:hsla(0, 0%, 0%, 0.527) ;
}

.tema3{
    --background_Body: hsl(268, 75%, 9%);
    --circle_color:hsl(268, 71%, 12%);
    --pantalla:hsl(268, 71%, 12%);
    --letra_pantalla:hsl(52, 100%, 62%);
    --color_tex_top:hsl(52, 100%, 62%) ;
    --background_btn: hsl(268, 71%, 12%);
    --background_btn_item: hsl(281, 89%, 26%);
    --color_btn_item:hsl(52, 100%, 62%);
    --borde_btn_item:3px solid hsl(285, 91%, 52%);
    --back_item_hover: hsl(281, 95%, 17%) ;
    --color_item_hover:hsl(52, 100%, 62%);
    --background_total:hsl(176, 100%, 44%);
    --borde_total:3px solid hsl(176, 92%, 15%);
}

.min{
font-size: 20px;
}

.contenedor{
    min-width: 724px;
    min-height: 500px;
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* LA PARTE DE ARRIBA */
.top{
    /* background-color: blue; */
    width: 60%;
    color:var(--color_tex_top);
}
.number{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 3px;
}
.tex_theme{
    font-size: 12px;
    padding-top: 2px;
}
.number li{
    margin: 0 5px;
    font-size: 12px;
}

.calc{
    display: flex;
}

.tex_calc{
    flex-basis: 100%;

}

/* circulo */
.circle{
    width: 20%;
    height: 15px;
}

.circle_item{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:var(--circle_color);
    border-radius: 10px;
    margin-left: 15px;
}

.circle_item_li{
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.color{
    background-color:hsl(6, 63%, 50%);

}


/* H1 - PANTALLA */

.pantalla{
    background-color: var(--pantalla);
    color: var(--letra_pantalla);
    width: 60%;
    text-align: right;
    padding: 10px 18px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* BTN DE LA CALCULADORA */



.btn{
    display: grid;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item8"
    "item9 item10 item11 item12"
    "item13 item14 item15 item16"
    " item17 item17 item18 item18"
    ;
    background-color: var(--background_btn);

    width: 60%;
    height: 450px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}
.btn li:nth-of-type(4){
    padding: 10px 15px;
    
}	
.btn li:nth-of-type(4):hover{
    color: var(--letra_pantalla);
    background-color:var(--hover_del);
    border-bottom: var(--hover_del_bor);
}
.btn li:nth-of-type(8){
    padding: 10px 36px;
}	
.btn li:nth-of-type(12){
    padding: 10px 39px;
}
.btn li:nth-of-type(16){
    padding: 10px 34px;
}

.btn li:nth-of-type(17):hover{
    color:var(--letra_pantalla);
    background-color: var(--background_reset);
    border-bottom: var(--borde_reset);
   
}

.btn li:nth-of-type(18){
    padding: 10px 40px;
    text-align: center;
    width: 90%;
}
.btn li:nth-of-type(18):hover{
    color: var(--letra_pantalla);
    background-color: var(--background_total);
    border-bottom: var(--borde_total);
    
}

.item_fijo{
    background-color:var(--background_btn_item); 
    color:var(--color_btn_item);
    font-weight: bold;
    font-size: 30px;
    padding: 10px 35px;
    border-radius: 10px;
    border-bottom: var(--borde_btn_item);
    cursor: pointer;
}
.item_fijo:hover{
    background-color:  var(--back_item_hover);
    color: var(--color_item_hover);
    
}


.item_1{
    grid-area: item1;
}
.item_2{ 
    grid-area: item2;
}
.item_3{
    grid-area: item3;
}
.item_4{
    grid-area: item4;
}
.item_5{
    grid-area: item5;
}
.item_6{
    grid-area: item6;
}
.item_7{
    grid-area: item7;
}
.item_8{
    grid-area: item8;
}
.item_9{
    grid-area: item9;
}
.item_10{
    grid-area: item10;
}
.item_11{
    grid-area: item11;
}
.item_12{
    grid-area: item12;
}
.item_13{
    grid-area: item13;
}
.item_14{
    grid-area: item14;
}
.item_15{
    grid-area: item15;
}
.item_16{
    grid-area: item16;
}
.item_17{
    grid-area: item17;
}
.item_18{
    grid-area: item18;
}


@media screen and (max-width:650px) {
    .contenedor{
       align-items: flex-start;
       margin-left: 15%;
     }
}

@media screen and (max-width:550px) {
    .contenedor{
         margin-left: 5%;
     }
}

@media screen and (max-width:450px) {
    .top,.pantalla,.btn{
        width: 50%;
    }    
    .item_fijo{
        padding: 10px 30px;
    }
}

@media screen and (max-width:375px) {
    .top,.pantalla,.btn{
        width: 45%;
    }    
    .item_fijo{
        padding: 10px 15px;
    }

    .btn li:nth-of-type(4){
        padding: 10px 10px;
    }	
    .btn li:nth-of-type(8){
        padding: 10px 30px;
    }	
    .btn li:nth-of-type(12){
        padding: 10px 35px;
    }
    .btn li:nth-of-type(16){
        padding: 10px 30px;
    }
    
  
}

@media screen and (max-width:300px) {
    .top,.pantalla,.btn{
        width: 35%;
    }    
    .item_fijo{
        padding: 10px 10px;
    }
    .tex_calc{
        flex-basis: 60%;
    }
    .btn li:nth-of-type(4){
        padding: 10px 5px;
        font-size: 20px;
    }	
    .btn li:nth-of-type(8){
        padding: 10px 10px;
    }	
    .btn li:nth-of-type(12){
        padding: 10px 14px;
    }
    .btn li:nth-of-type(16){
        padding: 10px 10px;
    }
}

